<div class="row">
        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{lenderToDisplay?.image}}">

            </div>
            <div class="card-content">
              <h3 class="card-title">{{lenderToDisplay?.name}}</h3>
              <p><em>Lender Type</em>: {{lenderToDisplay?.type}}</p>
              <p><em>Account Balance</em>: ${{lenderToDisplay?.accountBalance}}</p><br>
              <strong>Projects Funded</strong><br>
                <div *ngFor='let item of portfolioItems'>
                  <span>{{item[0]}}: ${{item[1]}}</span>

                </div>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
