<div class="row">
  <select class="select col s2" (change)='filterByLenderType($event.target.value)'>
    <option value="All" selected="selected">All</option>
    <option value="Individual">Individual</option>
    <option value="Corporate">Corporate</option>
  </select>
</div>

<ul class="collection">
  <li class="collection-item avatar" *ngFor="let lender of lenders | lenderType: filterByLenderValue">
    <img src={{lender.image}} alt="" class="circle" (click)="goToDetailPage(lender)">
    <span class="title">{{lender.name}}</span>
    <p (click)="goToDetailPage(lender)"><span>{{lender.type}}</span> <br>
       <span>Balance: ${{lender.accountBalance}}</span> <br>
       <span>Loans outstanding: {{calcProjectsFunded(lender)}}</span>
    </p>
    <a class="secondary-content"><span *ngIf="currentRoute === '/lender-admin'"><br><i  (click)="selectLender(lender)" class="material-icons">Edit</i><br><i  (click)="deleteLender(lender)" class="material-icons">Delete</i></span></a>



  </li>
<ul>
